@page "/"

<div class="artboard-container row">
    <div class="artboard column">
        <div class="group row">
            <IgbAvatar Shape="AvatarShape.Circle" Size="SizableComponentSize.Large" class="avatar" artboard-scope>
                <span class="material-icons">android</span>
            </IgbAvatar>
            <IgbButton Variant="ButtonVariant.Fab" class="button" artboard-scope>
                <span class="material-icons">add</span>
                <span>FLOATING ACTION</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <IgbBadge Variant="BadgeVariant.Primary" class="badgeiconround" artboard-scope>
            <span class="material-icons">check</span>
        </IgbBadge>
    </div>
</div>

@code {
}
